!!!
%html
  %head
    %title Rant-O-Mania!!!one!1!
    %meta(http-equiv="content-type" content="text/html" charset="utf-8")
    %meta(http-equiv="content-language" content="en")
    %meta(author="Richard Heycock, Josh Price, James Sadler, Simon Swayne")
    %meta(name="description" content="What's fucking you off right now?")
    %meta(name="keywords" content="rant, fuck, shit, bollocks, twat")
    
    %link(href="stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css")
    %script(type="text/javascript" src="javascript/jquery-1.3.2.min.js")
    %script(type="text/javascript" src="javascript/underscore-min.js")
    %script(type="text/javascript" src="javascript/raphael-min.js")
    %script(type="text/javascript" src="javascript/g.raphael-min.js")
    %script(type="text/javascript" src="javascript/g.line-min.js")
    %script(type="text/javascript" src="javascript/rant.js")

  %body
    .container
      .header
        %h1 RANT-O-MANIA
      .body
        .fuckoff
          .bar
            %h3
              What's pissing you off right now?
            %span.chars 0
          .entry
            .wrapper
              %textarea.rant
              %input(type="submit" id="send" name="rant" value="Rant!")
            #holder

        = yield
        
      .footer
        
